/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Inter:400,600,600italic,700');
@import '_null';

html {
  font-size: 16px;
}
body {
  line-height: 1;
  font-family: 'Inter', sans-serif;
  color: #403f3d;
  background: #e1d4c9;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1390px;
  padding: 0px 15px;
}

.titles {
  // .titles__selected
}

.button {
  // .button__title

  &__title {
  }
}

.header {
}
.main {
  flex: 1 1 auto;
}
.offer {
  // .offer__container

  &__container {
  }

  // .offer__content

  &__content {
    padding: 100px 100px 100px 100px;
    border-radius: 40px;
    background: url('../assets/mainpage/favorite-coffee/img/coffee.jpeg') 50%
      45% / cover no-repeat;
  }

  //.offer__body

  &__body {
    display: flex;
    flex-direction: column;
    max-width: 530px;
  }

  // .offer__title

  &__title {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    color: #e1d4c9;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  // .offer__selected-title

  &__selected-title {
    font-style: italic;
    color: #b0907a;
  }
  // .offer__text

  &__text {
    color: #e1d4c9;
    line-height: 150%;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  // .offer__button

  &__button {
    align-self: flex-start;
    color: rgb(64, 63, 61);
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    padding: 20px 78px 20px 78px;
    background-color: rgb(225, 212, 201);
    border-radius: 100px;
  }
}

.footer {
}
