@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Inter:400,600,600italic,700");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  color: #403f3d;
  background: #e1d4c9;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1390px;
  padding: 0px 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offer__content {
  padding: 100px 100px 100px 100px;
  border-radius: 40px;
  background: url("../assets/mainpage/favorite-coffee/img/coffee.jpeg") 50% 45%/cover no-repeat;
}
.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 530px;
}
.offer__title {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.offer__title:not(:last-child) {
  margin-bottom: 40px;
}
.offer__selected-title {
  font-style: italic;
  color: #b0907a;
}
.offer__text {
  color: #e1d4c9;
  line-height: 150%;
}
.offer__text:not(:last-child) {
  margin-bottom: 40px;
}
.offer__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: rgb(64, 63, 61);
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  padding: 20px 78px 20px 78px;
  background-color: rgb(225, 212, 201);
  border-radius: 100px;
}

.about__content {
  padding: 50px 0px 50px 0px;
}
.about__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
}